<html>
    <head>
        
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">


        <link rel="dns-prefetch" href="//res.wx.qq.com">
<link rel="dns-prefetch" href="//mmbiz.qpic.cn">
<link rel="shortcut icon" type="image/x-icon" href="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico">
<!--[if lt IE 9]>
<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2c9cd6.css">
<![endif]-->

    </head>
    <body id="activity-detail" class="zh_CN mm_appmsg">
        
<div id="js_article" class="rich_media">
    
    <div id="js_top_ad_area" class="top_banner"></div>
    
    <div class="rich_media_inner">
                
        <div id="page-content" class="rich_media_area_primary">
            
                        <div id="img-content">
                
                <h2 class="rich_media_title" id="activity-name">
                    &#12304;&#25512;&#33616;&#12305;&#27668;&#36136;&#40092;&#26126;&#30340;&#19990;&#30028;                                    </h2>
                <div id="meta_content" class="rich_media_meta_list">
                                                            <em id="post-date" class="rich_media_meta rich_media_meta_text">2014-09-02</em>

                                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="##" id="post-user">&#22823;&#35937;&#20844;&#20250;</a>
                    <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">&#22823;&#35937;&#20844;&#20250;</span>

                    <div id="js_profile_qrcode" class="profile_container" style="display:none;">
                        <div class="profile_inner">
                            <strong class="profile_nickname">&#22823;&#35937;&#20844;&#20250;</strong>
                            <img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="">

                            <p class="profile_meta">
                            <label class="profile_meta_label">&#24494;&#20449;&#21495;</label>
                            <span class="profile_meta_value">idxgh2013</span>
                            </p>

                            <p class="profile_meta">
                            <label class="profile_meta_label">&#21151;&#33021;&#20171;&#32461;</label>
                            <span class="profile_meta_value">&#31934;&#31070;&#39135;&#31918;&#12290;</span>
                            </p>
                            
                        </div>
                        <span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                            </span>
                    </div>
                </div>
                
                
                
                
                                                
                                                                
                
                <div class="rich_media_content " id="js_content">
                    

                    

                    
                    
                    <p><span style="color: rgb(54, 96, 146);"><strong>&#20170;&#22825;&#21482;&#25512;&#33616;5&#20010;&#36134;&#21495;&#65292;&#21253;&#25324;&#26032;&#38395;&#12289;&#30693;&#35782;&#12289;&#25991;&#23398;&#12289;&#24773;&#24863;&#21644;&#35270;&#39057;&#65292;&#19981;&#20165;&#28085;&#30422;&#20102;&#26085;&#24120;&#29983;&#27963;&#20013;&#23545;&#20449;&#24687;&#30340;&#38656;&#27714;&#65292;&#20063;&#20250;&#25552;&#21319;&#35835;&#32773;&#20204;&#23545;&#22120;&#29289;&#19990;&#30028;&#21644;&#31934;&#31070;&#19990;&#30028;&#30340;&#24819;&#35937;&#21147;&#12290;&#20182;&#20204;&#20869;&#23481;&#36136;&#37327;&#31283;&#23450;&#65292;&#27668;&#36136;&#40092;&#26126;&#12290;&#25968;&#37327;&#20247;&#22810;&#30340;&#20844;&#20247;&#21495;&#25110;&#35768;&#35753;&#20154;&#36855;&#22833;&#65292;&#25105;&#20204;&#30495;&#30340;&#19981;&#38656;&#35201;&#37027;&#20040;&#22810;&#12290;</strong></span></p><p><span tn-page-editable="text1" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-valid tn-page-editable ng-dirty" style="font-family: inherit; font-size: 1em; max-width: 100%; line-height: 1.4em; color: rgb(42, 52, 58); word-wrap: break-word !important; box-sizing: border-box !important;"><br></span></p><section class="ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin: 1em 0px 0.8em; text-align: center; font-size: 1em; vertical-align: middle;"><section tn-page-editable-type="border-color" ng-style=" {
  'border-color' : (eo.borderColor || theme.borderColor),
} " ng-click="onClick($event)" class="tn-page-border-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 0px; margin: 0px 1em; border-top-width: 1.5em; border-top-style: solid; border-bottom-width: 1.5em; border-bottom-style: solid; border-top-color: rgb(49, 49, 49); border-bottom-color: rgb(49, 49, 49); border-left-width: 1.5em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 1.5em !important; border-right-style: solid !important; border-right-color: transparent !important;"></section><section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 0px; margin: -2.75em 1.65em; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent;"></section><section tn-page-editable-type="border-color" ng-style=" {
  'border-color' : (eo.borderColor || theme.borderColor),
} " ng-click="onClick($event)" class="tn-page-border-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 0px; margin: 0.45em 2.1em; vertical-align: middle; border-top-width: 1.1em; border-top-style: solid; border-bottom-width: 1.1em; border-bottom-style: solid; border-top-color: rgb(49, 49, 49); border-bottom-color: rgb(49, 49, 49); border-left-width: 1.1em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 1.1em !important; border-right-style: solid !important; border-right-color: transparent !important;"><section tn-page-editable="text0" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-valid tn-page-editable ng-dirty" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; max-height: 1em; padding: 0px; margin-top: -0.5em; color: rgb(255, 255, 255); font-size: 1.2em; line-height: 1em; overflow: hidden; font-family: inherit;">Less Is More</section></section></section><p><br></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; text-align: center; box-sizing: border-box !important;"><img data-src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0" data-size="300,640" data-ratio="0.057539682539682536" data-w="" style="color: rgb(127, 127, 127); font-family: &#23435;&#20307;; font-size: 13px; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0"><br></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; text-align: center; box-sizing: border-box !important;"><img data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhPBTYoIpUmfXOZeGgibfXWbjtCSLb4m6gzS46VQbYOJcRzDGPMYJzyDg/0" data-ratio="1" data-w="" style="word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhPBTYoIpUmfXOZeGgibfXWbjtCSLb4m6gzS46VQbYOJcRzDGPMYJzyDg/0"></p><section class="ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin: 1em; padding: 0px;"><section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: 1em; line-height: 1.4em;"><span tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" class="tn-page-bg-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0.2em 0.5em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; background-color: rgb(49, 49, 49);"><span tn-page-editable="text0" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; font-family: inherit;">ONE&#8226;&#19968;&#20010;</span> </span><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 1.2em; padding: 0.2em 0.5em; margin-left: 0.3em; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; border-bottom-right-radius: 1.2em; border-bottom-left-radius: 1.2em; color: rgb(38, 38, 38); font-size: 0.8em; line-height: 1.2em; font-family: inherit; background-color: rgb(204, 204, 204);">one_hanhan</span></strong></section><section tn-page-editable="text2" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-top: -0.7em; padding: 1.4em 1em 1em; border: 1px solid rgb(192, 200, 209); border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; background-color: rgb(239, 239, 239);"><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;">&#8220;ONE&#8226;&#19968;&#20010;&#8221;&#26159;&#30001;&#38889;&#23506;&#20027;&#32534;&#30340;&#19968;&#27454;&#25991;&#33402;&#38405;&#35835;&#24212;&#29992;&#65292;&#27599;&#22825;&#26356;&#26032;&#19968;&#24352;&#22270;&#30011;&#12289;&#19968;&#31687;&#25991;&#31456;&#12289;&#19968;&#20010;&#38382;&#39064;&#12290;&#22797;&#26434;&#19990;&#30028;&#65292;&#19968;&#20010;&#23601;&#22815;&#20102;&#12290;</p></section></section><p><img data-src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0" data-size="300,640" data-ratio="0.057539682539682536" data-w="" style="text-align: center; white-space: pre-wrap; color: rgb(127, 127, 127); font-family: &#23435;&#20307;; font-size: 13px; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0"><img data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhdhj0gvdWV4juqSZ7lqIiaE4hUW7gTDGGSsblWOGuSwXWkXCOnzaoiaog/0" data-ratio="1" data-w="" style="text-align: center; white-space: pre-wrap; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhdhj0gvdWV4juqSZ7lqIiaE4hUW7gTDGGSsblWOGuSwXWkXCOnzaoiaog/0"><br></p><section class="ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin: 1em; padding: 0px;"><section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: 1em; line-height: 1.4em;"><span tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" class="tn-page-bg-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0.2em 0.5em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; background-color: rgb(49, 49, 49);">&#19990;&#30456; </span><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 1.2em; padding: 0.2em 0.5em; margin-left: 0.3em; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; border-bottom-right-radius: 1.2em; border-bottom-left-radius: 1.2em; color: rgb(38, 38, 38); font-size: 0.8em; line-height: 1.2em; font-family: inherit; background-color: rgb(204, 204, 204);">thefair</span></strong></section><section tn-page-editable="text2" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-top: -0.7em; padding: 1.4em 1em 1em; border: 1px solid rgb(192, 200, 209); border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; background-color: rgb(239, 239, 239);">&#27599;&#22825;&#19968;&#31687;&#25991;&#31456;+&#31934;&#30830;&#35299;&#35835;&#65292;&#26159;&#19968;&#20010;&#39118;&#26684;&#40092;&#26126;&#12289;&#26377;&#26497;&#20339;&#21475;&#30865;&#30340;&#24494;&#20449;&#24179;&#21488;&#65292;&#20513;&#23548;&#21697;&#21619;&#12289;&#23457;&#32654;&#12289;&#35265;&#35782;&#65292;&#21516;&#26102;&#25552;&#20379;&#29289;&#36136;&#29983;&#27963;&#21644;&#31934;&#31070;&#29983;&#27963;&#25351;&#21335;&#12290;</section></section><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><img data-src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0" data-size="300,640" data-ratio="0.057539682539682536" data-w="" style="white-space: normal; color: rgb(127, 127, 127); font-family: &#23435;&#20307;; font-size: 13px; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0"><br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; text-align: center; box-sizing: border-box !important;"><img data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGh1ntalxDBczhLiaRgbGXKOOOPrPBJzdicTaAIq3D9tJB3mtJ2UloYoiaYg/0" data-ratio="1" data-w="" style="word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGh1ntalxDBczhLiaRgbGXKOOOPrPBJzdicTaAIq3D9tJB3mtJ2UloYoiaYg/0"></p><section class="ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin: 1em; padding: 0px;"><section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: 1em; line-height: 1.4em;"><span tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" class="tn-page-bg-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0.2em 0.5em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; background-color: rgb(49, 49, 49);"><span tn-page-editable="text0" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; font-family: inherit;">&#21335;&#26041;&#21608;&#26411;</span> </span><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 1.2em; padding: 0.2em 0.5em; margin-left: 0.3em; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; border-bottom-right-radius: 1.2em; border-bottom-left-radius: 1.2em; color: rgb(38, 38, 38); font-size: 0.8em; line-height: 1.2em; font-family: inherit; background-color: rgb(204, 204, 204);">nanfangzhoumo</span></strong></section><section tn-page-editable="text2" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-top: -0.7em; padding: 1.4em 1em 1em; border: 1px solid rgb(192, 200, 209); border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; background-color: rgb(239, 239, 239);"><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;">&#20013;&#22269;&#28145;&#20855;&#20844;&#20449;&#21147;&#21644;&#21457;&#34892;&#37327;&#26368;&#22823;&#30340;&#26032;&#38395;&#21608;&#25253;&#65292;&#20197;&#8220;&#22312;&#36825;&#37324;&#65292;&#35835;&#25026;&#20013;&#22269;&#8221;&#20026;&#21150;&#25253;&#23447;&#26088;&#65292;&#20197;&#8220;&#27491;&#20041;&#12289;&#33391;&#30693;&#12289;&#29233;&#24515;&#12289;&#29702;&#24615;&#8221;&#20026;&#32534;&#36753;&#26041;&#38024;&#12290;</p></section></section><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><img data-src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0" data-size="300,640" data-ratio="0.057539682539682536" data-w="" style="text-align: center; white-space: normal; color: rgb(127, 127, 127); font-family: &#23435;&#20307;; font-size: 13px; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0"></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; text-align: center; box-sizing: border-box !important;"><img data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhdDI8Hw42SMGratEl5ibc7rz1t7usicun8ia1glblhCMq2axJsKqvvkmoQ/0" data-ratio="1" data-w="" style="word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGhdDI8Hw42SMGratEl5ibc7rz1t7usicun8ia1glblhCMq2axJsKqvvkmoQ/0"></p><section class="ng-scope" style="max-width: 100%; margin: 1em; padding: 0px; word-wrap: break-word !important; box-sizing: border-box !important;"><section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: 1em; line-height: 1.4em;"><span tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" class="tn-page-bg-color ng-scope" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0.2em 0.5em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; background-color: rgb(49, 49, 49);">cool&#30701;&#35270;&#39057; </span><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; height: 1.2em; padding: 0.2em 0.5em; margin-left: 0.3em; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; border-bottom-right-radius: 1.2em; border-bottom-left-radius: 1.2em; color: rgb(38, 38, 38); font-size: 0.8em; line-height: 1.2em; font-family: inherit; background-color: rgb(204, 204, 204);">shortcool</span></strong></section><p style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-top: -0.7em; padding: 1.4em 1em 1em; border: 1px solid rgb(192, 200, 209); border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; background-color: rgb(239, 239, 239);">&#30001;coolvideo&#20986;&#21697;&#65292;&#38598;&#32467;&#21326;&#20154;&#21019;&#20316;&#21147;&#37327;&#65292;&#21516;&#26102;&#20998;&#20139;&#8220;&#21448;&#30701;&#21448;&#37239;&#8221;&#20840;&#29699;&#35270;&#39057;&#12290;&#25105;&#20204;&#26159;&#12300;ONE&#183;&#19968;&#20010;&#12301;&#21531;&#30340;&#21451;&#37051;&#65292;&#25105;&#20204;&#36824;&#21019;&#36896;&#20102;&#26377;&#36259;&#30340;&#12300;&#22909;&#22810;&#26465;&#30701;&#35044;&#12301;&#31995;&#21015;&#30701;&#35270;&#39057;&#12290;&#27599;&#22825;&#19968;&#26465;&#30701;&#35270;&#39057;+&#31070;&#35780;&#26512;&#65292;&#24102;&#20320;&#20307;&#39564;&#19981;&#19968;&#26679;&#30340;&#35270;&#35273;&#26053;&#31243;&#12290;</p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; text-align: center; box-sizing: border-box !important;"><br></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><img data-src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0" data-size="300,640" data-ratio="0.057203389830508475" data-w="472" style="text-align: center; white-space: pre-wrap; color: rgb(127, 127, 127); font-family: &#23435;&#20307;; font-size: 13px; word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/n9BCHWJuRJdzyh5Fp34xlCVWbiaUmtrN1yiceibLDdtNOVKXATXs54cHQU8qmuiaYKmddeRdECbALhP8UbNDBvhL8A/0"></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><img data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGh9ibUGBgdQfneOnYGUv2A1zDTqY0IQXENT8SC1IA2EAKhszQRNx8ic9kA/0" data-ratio="1" data-w="472" style="word-wrap: break-word !important; box-sizing: border-box !important; visibility: visible !important;" src="http://mmbiz.qpic.cn/mmbiz/Zw9bic3oCyiby4s7j8UOzGAQSkpP25SsGh9ibUGBgdQfneOnYGUv2A1zDTqY0IQXENT8SC1IA2EAKhszQRNx8ic9kA/0"></p><section class="ng-scope" style="white-space: normal; max-width: 100%; margin: 1em; padding: 0px; word-wrap: break-word !important; box-sizing: border-box !important;"><section style="max-width: 100%; margin-left: 1em; line-height: 1.4em; word-wrap: break-word !important; box-sizing: border-box !important;"><span tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" class="tn-page-bg-color ng-scope" style="max-width: 100%; padding: 0.2em 0.5em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(49, 49, 49);">&#22823;&#35937;&#20844;&#20250; </span><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"><span style="max-width: 100%; height: 1.2em; padding: 0.2em 0.5em; margin-left: 0.3em; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; border-bottom-right-radius: 1.2em; border-bottom-left-radius: 1.2em; color: rgb(38, 38, 38); font-size: 0.8em; line-height: 1.2em; font-family: inherit; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(204, 204, 204);">idxgh2013</span></strong></section><section tn-page-editable="text2" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; margin-top: -0.7em; padding: 1.4em 1em 1em; border: 1px solid rgb(192, 200, 209); border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; color: rgb(51, 51, 51); font-size: 1em; font-family: inherit; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(239, 239, 239);"><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;">(&#30693;&#35782;&#215;&#35265;&#35782;&#215;&#36259;&#21619;)-&#24223;&#35805;=&#22823;&#35937;&#20844;&#20250;</p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;">&#25105;&#20204;&#19982;&#24744;&#20998;&#20139;&#30693;&#35782;&#12289;&#35265;&#35782;&#19982;&#35265;&#38395;&#12290;&#20851;&#27880;&#21644;&#35299;&#35835;&#26085;&#24120;&#29983;&#27963;&#20013;&#30340;&#19968;&#20999;&#21487;&#24310;&#23637;&#39046;&#22495;&#65292;&#27604;&#22914;&#28895;&#12289;&#37202;&#12289;&#39278;&#39135;&#12289;&#26381;&#35013;&#12289;&#35821;&#35328;&#12289;&#35875;&#35328;&#12289;&#21307;&#23398;&#12289;&#24314;&#31569;&#12289;&#27495;&#35270;&#12289;&#29359;&#32618;&#12289;&#25919;&#27835;&#12290;&#25110;&#35768;&#65292;&#23427;&#19981;&#20687;&#33258;&#28982;&#31185;&#23398;&#37027;&#26679;&#26377;&#30830;&#23450;&#24615;&#30340;&#31572;&#26696;&#65292;&#20294;&#26356;&#21152;&#26377;&#36259;&#12290;</p></section></section><p><br></p><section class="ng-scope tn-page-bg-color" tn-page-editable-type="bg-color" ng-style=" {
  'background-color' : (eo.backgroundColor || theme.textBgColor),
} " ng-click="onClick($event)" style="max-width: 100%; margin: 0.8em 1em; padding: 1em; border: 2px dotted white; border-top-left-radius: 0.5em 4em; border-top-right-radius: 3em 0.5em; border-bottom-right-radius: 0.5em 1em; border-bottom-left-radius: 0em 3em; box-shadow: rgb(225, 225, 225) 0.5em 0.5em 0.2em; color: white; font-size: 1em; line-height: 1.4em; text-align: justify; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(49, 49, 49);"><section tn-page-editable="text0" tn-page-editable-type="ed-type-text" ng-style=" {
  'font-size'   : eo.fontSize,
  'font-family' : eo.fontFamily,
  'font-style'  : eo.fontStyle,
  'color'       : (eo.color || theme.majorColor),
} " ng-click="onClick($event)" placeholder="{ &#28857;&#20987;&#32534;&#36753; }" ng-model="eo.text" tn-edit-content="true" stop-propagation="click mousedown mouseup" ui-on-drop="block($event)" class="tn-page-ed-type-text ng-scope ng-pristine ng-valid tn-page-editable" style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; font-family: inherit; color: rgb(51, 51, 51);"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(242, 242, 242);">1.&#38271;&#25353;&#20844;&#20247;&#21495;&#21517;&#31216;&#21491;&#20391;&#24494;&#20449;&#21495;&#24182;&#8220;<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">&#22797;&#21046;</strong>&#8221;&#65307;<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;"></span><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(242, 242, 242);">2.&#21491;&#19978;&#35282;&#8220;+&#8221;&#65292;&#8220;<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important;">&#28155;&#21152;&#26379;&#21451;</strong>&#8221;&#65307;</span></p><p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; box-sizing: border-box !important;"><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(242, 242, 242);">3.&#31896;&#36148;&#24494;&#20449;&#21495;&#65292;&#21363;&#21487;&#20851;&#27880;&#12290;</span></p></section></section><p><br></p><p><br></p><p><br></p></section>
                </div>
                <div class="ct_mpda_wrp" id="js_sponsor_ad_area" style="display:none;"></div>

                
                                <div class="reward_area tc" id="js_preview_reward" style="display:none;">
                    <p id="js_preview_reward_wording" class="tips_global reward_tips" style="display:none;"></p>
                    <p>
                        <a class="reward_access" id="js_preview_reward_link" href="##">&#36190;&#36175;</a>
                    </p>
                </div>
                <div class="reward_qrcode_area reward_area tc" id="js_preview_reward_qrcode" style="display:none;">
                    <p class="tips_global">&#38271;&#25353;&#20108;&#32500;&#30721;&#21521;&#25105;&#36716;&#36134;</p>
                    <p id="js_preview_reward_ios_wording" class="reward_tips" style="display:none;"></p>
                    <span class="reward_qrcode_img_wrp"><img class="reward_qrcode_img" src="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/pic/appmsg/pic_reward_qrcode.2x3534dd.png"></span>
                    <p class="tips_global">&#21463;&#33529;&#26524;&#20844;&#21496;&#26032;&#35268;&#23450;&#24433;&#21709;&#65292;&#24494;&#20449; iOS &#29256;&#30340;&#36190;&#36175;&#21151;&#33021;&#34987;&#20851;&#38381;&#65292;&#21487;&#36890;&#36807;&#20108;&#32500;&#30721;&#36716;&#36134;&#25903;&#25345;&#20844;&#20247;&#21495;&#12290;</p>
                </div>
                            </div>
                        
                        <div class="rich_media_tool" id="js_toobar3">
                                            <div id="js_read_area3" class="media_tool_meta tips_global meta_primary" style="display:none;">&#38405;&#35835; <span id="readNum3"></span></div>

                <span style="display:none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like3">
                    <span class="praise_num" id="likeNum3"></span>
                </span>

                <a id="js_report_article3" style="display:none;" class="media_tool_meta tips_global meta_extra" href="##">&#25237;&#35785;</a>

            </div>


                    </div>

        <div class="rich_media_area_primary sougou" id="sg_tj" style="display:none"></div>

        
        <div class="rich_media_area_extra">

            
                        <div class="mpda_bottom_container" id="js_bottom_ad_area"></div>
                        
            <div id="js_iframetest" style="display:none;"></div>
                        
                        <div class="rich_media_extra" id="js_preview_cmt" style="display:none">
              <p class="discuss_icon_tips rich_split_tips tr">
                <a href="##" id="js_preview_cmt_write">&#20889;&#30041;&#35328;<img class="icon_edit" src="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/appmsg/icon_edit25ded2.png"></a>
              </p>
            </div>
                    </div>

        
        <div id="js_pc_qr_code" class="qr_code_pc_outer" style="display:none;">
            <div class="qr_code_pc_inner">
                <div class="qr_code_pc">
                    <img id="js_pc_qr_code_img" class="qr_code_pc_img">
                    <p>&#24494;&#20449;&#25195;&#19968;&#25195;<br>&#20851;&#27880;&#35813;&#20844;&#20247;&#21495;</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    </html>